{% extends 'base.html' %}
{% block content %}

  <h1>Reroute</h1>

  <h2>Reroute, pointing you in the right direction</h2>


  <h3>Pick a Bus Line</h3>

    <ul class="dropdown">
    <form action='/bus_detail', method="get">
    <select name="bus">
    {% for bus in buses %}
    <option value="{{ bus.bus_name }}">{{ bus.bus_name }}
    {% endfor %}
    </select>
    <br><br>
    <input type="submit">
    </form>
    </ul>



<form action="#">
  <div>
    <input type="hidden" name="datatosendback" id="datatosendback">
  </div>
</form>


<script>

var latitude, longitude;
$(document).ready(function(){
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(handle_geolocation_query,handle_errors);
    } else {
        alert('Geolocation not supported by your broweser.');
    }
});
function handle_errors(error) {  
    // error handling here
}
function handle_geolocation_query(position){  
    latitude = (position.coords.latitude);
    longitude = (position.coords.longitude); 
    onPositionReady();
}
function onPositionReady() {
   var lat = latitude
   var long = longitude;
   console.log(lat)
   console.log(long)

   $.get('/location',{'lat': lat, 'long': long})
    // proceed
}     

// $.ajax({
//     type: 'GET',
//     url: '/location',
//     data: JSON.stringify({'lat': lat, 'long': long}, null, '\t'),
//     contentType: 'application/json;charset=UTF-8'
// });

</script>





<!-- ################################################################################ -->

  

{% endblock %}